@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap");
@import "tailwindcss";
@import "tw-animate-css";


@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;

  /* Color */
  --color-primary: #ffb300;
  --color-secondary: #fafafa;
  --color-tertiary: #e0e0e0;
  --color-quaternary: #666666;
  --color-quinary: #121212;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.2s ease-out;
}